@import './base.scss';

.App {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: #131313;
  background-image: radial-gradient(
    circle at bottom left,
    #131313 25%, 
    #333333 100%
  );
  color: $white;
}

