// Reset globals
@import './_reset.scss';

// Typography
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400&display=swap');

html, body {
  font-family: 'Raleway', sans-serif;
  * {
    box-sizing: border-box;
  }
  overflow-x: hidden;
};

// Colors
$white: #FEFEFE;
$black: #131313;
$lightGrey: #CCC;
$midGrey: #999;
$darkGrey: #666;
// Core colors
$primary: #7DC7F0;
$secondary: #51F056;
$warning: #FFCE55;
$alert: #FF5E4B;

// Extended colors
$lilac: #AAF;
$jsYellow: #ffd93b;
$jsYellowDark: #dbb92c;

// Helpers
.no-mobile {
  display: none !important;
}
.no-desktop {
  display: block !important;
}

@media screen and (min-width: 570px) {
  .no-mobile {
    display: block !important;
  }
  .no-desktop {
    display: none !important;
  }
}